<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
  <time xsi:type="FastUTC" />
  <targets>
    <target xsi:type="ColoredConsole"
            name="console"
            layout="${time} ${uppercase:${level}} ${message}${onexception:inner= Exception message\: ${exception:format=Message}}" />

    <target xsi:type="Debugger"
            name="debugger"
            layout="${level:format=FirstCharacter} ${message}${onexception:inner= Exception message\: ${exception:format=Message}}" />

    <target xsi:type="File"
            name="file"
            layout="${longdate} ${uppercase:${level}} ${message}${onexception:inner= Exception message\: ${exception:format=ToString}}"
            fileName="${basedir}/latebinding.log"
            maxArchiveFiles="5"
            />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
